Node Red Flow.txt
[{"id":"c68a3c79.ed1bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e256b0a9.155be","type":"ui_form","z":"c68a3c79.ed1bc","name":"","label":"","group":"aaad0613.fd1268","order":0,"width":0,"height":0,"options":[{"label":"Status\t","value":"a","type":"number","required":true,"rows":null},{"label":"Schooling","value":"b","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"c","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"d","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Percentage Exp","value":"i","type":"number","required":true,"rows":null},{"label":"Under Five Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"Measles","value":"l","type":"number","required":true,"rows":null},{"label":"Total Exp","value":"m","type":"number","required":true,"rows":null},{"label":"thinness_1to19_years","value":"n","type":"number","required":true,"rows":null},{"label":"thinness_5to9_years","value":"o","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["cfb3ca62.faaf28"]]},{"id":"cfb3ca62.faaf28","type":"function","z":"c68a3c79.ed1bc","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\n\n//following are required to receive a token\nvar apikey=\"kR7NsjIpDxZBLTakABOiU-GVdfw7o82NqZvQtCmceKXQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["63661544.1be79c"]]},{"id":"fb163fad.eb91","type":"http request","z":"c68a3c79.ed1bc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d7f23c5f-b268-42f3-a14f-ea398928d281/deployments/9aafb132-8440-4eaa-aba8-e1540bd1c37e/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["1d63ddeb.a10442"]]},{"id":"132aa250.0b712e","type":"debug","z":"c68a3c79.ed1bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"1d63ddeb.a10442","type":"function","z":"c68a3c79.ed1bc","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["132aa250.0b712e","cdbce190.a1428"]]},{"id":"a4345b55.561348","type":"debug","z":"c68a3c79.ed1bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"66ed89c0.0db978","type":"function","z":"c68a3c79.ed1bc","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"d7f23c5f-b268-42f3-a14f-ea398928d281\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Status\",\"Schooling\",\n\"Income_Comp_Of_Resources\",\"HIV/AIDS\",\n\"Adult_Mortality\",\"Alcohol\",\n\"BMI\",\"Infant_Deaths\",\"Percentage_Exp\",\n\"Under_Five_Deaths\",\"Diphtheria\",\"Measles\",\n\"Tot_Exp\",\"thinness_1to19_years\",\n\"thinness_5to9_years\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["fb163fad.eb91"]]},{"id":"63661544.1be79c","type":"http request","z":"c68a3c79.ed1bc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["66ed89c0.0db978"]]},{"id":"cdbce190.a1428","type":"ui_text","z":"c68a3c79.ed1bc","group":"aaad0613.fd1268","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"aaad0613.fd1268","type":"ui_group","z":"","name":"Machine Learning Model","tab":"1c8034e2.31f12b","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c8034e2.31f12b","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]